body {
    margin: 0;
    font-family: Arial, sans-serif;
}


nav {
    background-color: #333;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.container {
    width: 80%;
    margin: 40px auto;   
    text-align: center;  
}


.container img {
    width: 600px;
    height: auto;
    border: solid blue 5px;
    border-radius: 10%;
    margin-bottom: -4px;
    margin: 20px 0;
}


.container p{
    
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
}



nav{

   background-color: rgb(243, 138, 1);  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

li{
    float: left;
}

li a {
    display: block;
    color: rgb(17, 20, 20);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 0, 0);
}

